<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Document</title>
    </head>
    <body>
        <h1>Bienvenido a mi blog</h1>
        <p>Blog</p>
        <a href="..\app.py">freecodecamp</a>
        <img src="{{ url_for('static', filename='img/jorgeav527.PNG') }}" alt="jorge" width="50" height="60">
        <form action="/add/user">
            <label for="name">nombre</label>
            <input type="text" name="name" id="name">
            <label for="last">apellido</label>
            <input type="text" name="last" id="last">
            <label for="time">edad</label>
            <input type="text" name="time" id="time">
            <button type="submit">Click</button>
        </form>
    </body>
</html>